<div class="row">
  <div class="col-xs-12">
    <h3>配送先編集</h3>
    <%= form_with model:@ship_city, local:true do |f| %>

      <h4>郵便番号(ハイフンなし)</h4><%= f.text_field :postcode %>

      <h4>住所</h4><%= f.text_field :city %>

      <h4>宛名</h4><%= f.text_area :name %>
      <%= f.submit '編集する', class: "btn-primary" %>
    <% end %>
  </div>
</div>