<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">

      <%= render 'customer/ship_cities/error', ship_city: @ship_city %>

      <h2 class="head-line text-center title_h2">配送先登録/一覧</h2>
        <%= form_with model:@ship_city,url:ship_cities_path, local:true do |f| %>
        <table class="table ship-city-table">
          <tbody>
            <tr>
              <td>
                <%= f.label :"郵便番号（ハイフンなし）" %>
              </td>
              <td>
                <%= f.text_field :postcode, class: "col-xs-5" %>
              </td>
            </tr>
            <tr>
              <td>
                 <%= f.label :"住所" %>
              </td>
              <td>
                 <%= f.text_field :city, class: "col-xs-12" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :"宛名" %>
              </td>
              <td>
                <%= f.text_field :name, class: "col-xs-5" %>
              </td>
            </tr>
          </tbody>
        </table>

          <%= f.submit '登録する',class: "pull-right btn col-xs-2 btn-success" %>
        <% end %>

        <%= render 'customer/ship_cities/index', ship_cities: @ship_cities %>
      <div class="col-xs-2"></div>
    </div>
  </div>
</div>

