<div class="container">
	<div class="row">
			<h2>ショッピングカート</h2>
			<!-- カート商品一覧 -->
			<div class="text-right">
				<%= link_to cart_products_destroy_all_path, method: :delete do %>
	      	<button class="btn btn-danger">カートを空にする</button>
	    	<% end %>
    	</div>
    	<div class="cart-item-table row">
				<table class="table">
					<thead>
						<tr>
							<th>商品名</th>
							<th>単価（税込）</th>
							<th>数量</th>
							<th>小計</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @cart_products.each do |cart_product| %>
						<tr>

							<td><%= cart_product.product.name %></td>
          		<td><%= (cart_product.product.price.to_s(:delimited) ) %></td>
          		<td>
		            <%= form_with model: cart_product, url: cart_product_path(cart_product), local: true do |f| %>
		              <%= f.text_field :amount, :size => "5" %>　<%= f.submit "変更" %>
		            <% end %>
            	</td>
							<td><%= cart_product.subtotal.to_s(:delimited) %>
							<td>
	            	<%= link_to cart_product_path(cart_product), method: :delete do %>
	              		<button>削除</button>
	            	<% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<!-- 合計金額 -->
					<table class="table">
						<tbody>
							<th class>合計金額</th>
							<td>
			          <%= @total_price.floor.to_s(:delimited) %>
          		</td>
							<td class>円</td>
						</tbody>
					</table>
				</div>
			</div>
      <% if current_customer.cart_products.present? %>
		<div>
			<%= link_to "情報入力に進む", class:"btn btn-primary form-control" %>
      <% end %>
		</div>
	</div>
</div>