<h1>ショッピングカート</h1>
<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
  </div>
    <div class="col-xs-1 col-xs-offset-8">
    <%= link_to cart_products_destroy_all_path, method: :delete do %>
      <button class="btn btn-danger">カートを空にする</button>
    <% end %>
  </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-10">
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税抜）</th>
          <th>数量</th>
          <th>小計</th>
          <th>　</th>
        </tr>
      </thead>
      <% @cart_products.each do |cart_product| %>
        <tr>
          <td>
            <%= attachment_image_tag cart_product.product, :image, :fill, 50, 50, format:'jpeg', fallback:"no_image.jpg", size:"50x50" %>
            <%= cart_product.product.name %>
          </td>
          <td>
            ¥<%= (cart_product.product.price ).to_s(:delimited) %>円
          </td>
          <td>
            <%= form_with model: cart_product, url: cart_product_path(cart_product), local: true do |f| %>
              <%= f.hidden_field :id, :value => cart_product.id %>
              <%= f.text_field :amount, :size => "5" %>　<%= f.submit "変更" %>
            <% end %>
          </td>
          <td>¥<%= cart_product.sub_total.to_s(:delimited) %>円</td>
          <td>
            <%= link_to cart_product_path(cart_product), method: :delete do %>
              <button>削除</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
    <%= link_to root_path do %>
      <button class="btn btn-primary">買い物を続ける</button>
    <% end %>
  </div>
  <div class="col-xs-3 col-xs-offset-9">
    <table class="table table-bordered">
      <tr>
        <th>合計金額</th>
        <td>¥<%= @total_price.to_s(:delimited)  %>円</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <% if current_customer.cart_products.any? %>
    <div class="col-xs-4 col-xs-offset-4">
      <% if current_customer.cart_products.any? %>
      	<%= link_to new_order_path do %>
          <button class="btn btn-success">情報入力に進む</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>