<div class="container">
<<<<<<< HEAD
<h1>ショッピングカート</h1>
	<div class="row">
		<div class="text-right">
		    <%= link_to cart_products_destroy_all_path, method: :delete do %>
		      <button class="btn btn-danger ">カートを空にする</button>
		    <% end %>
		</div>
		<br>
    <table class="table cart-table">
      <thead>
        <tr>
          <th class="col-xs-4">商品名</th>
          <th class="col-xs-2">単価（税抜）</th>
          <th class="col-xs-2">数量</th>
          <th class="col-xs-2">小計</th>
          <th class="col-xs-2"></th>
        </tr>
      </thead>
      <% @cart_products.each do |cart_product| %>
        <tr>
          <td>
            <%= attachment_image_tag cart_product.product, :image, :fill, 50, 50, format:'jpeg', fallback:"no_image.jpg", size:"50x50" %>
            <%= cart_product.product.name %>
          </td>
          <td>
            ¥<%= (cart_product.product.price*1.1 ).floor.to_s(:delimited) %>
          </td>
          <td>
            <%= form_with model: cart_product, url: cart_product_path(cart_product), local: true do |f| %>
              <%= f.hidden_field :id, :value => cart_product.id %>
              <%= f.text_field :amount, :size => "5" %>　<%= f.submit "変更" %>
            <% end %>
          </td>
          <td>¥<%= cart_product.sub_total.to_s(:delimited) %></td>
          <td>
            <%= link_to cart_product_path(cart_product), method: :delete do %>
              <button class="btn btn-danger">削除</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
	</div>
	<div class="row">
		<div class="col-xs-4">
	    <%= link_to root_path do %>
	      <button class="btn btn-primary">買い物を続ける</button>
	    <% end %>
	  </div>
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
	    <table class="table">
	      <tr>
	        <th>合計金額</th>
	        <td>¥<%= @total_price.to_s(:delimited)  %></td>
	      </tr>
	    </table>
	  </div>
    <div class="text-center">
		  <% if current_customer.cart_products.any? %>
		      <% if current_customer.cart_products.any? %>
		      	<%= link_to new_order_path do %>
		          <button class="btn btn-lg btn-success">情報入力に進む</button>
		        <% end %>
		      <% end %>
		  <% end %>
		</div>
	</div>
</div>