<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h2 class="head-line title_h2 text-center">登録情報編集</h2>
        <%= form_with(model:@customer, url:customer_path, local: true ,method: :put) do |f| %>
          <table class="table customer-show-table">
            <tbody>
              <tr>
                <td class="col-xs-3">
                  <%= f.label :"氏名" %>
                </td>
                <td>
                  <%= f.text_field :last_name, class:"col-xs-7" %>
                </td>
                <td>
                  <%= f.text_field :first_name, class:"col-xs-7" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :"フリガナ" %>
                </td>
                <td>
                  <%= f.text_field :last_name_kana, class:"col-xs-7"%>
                </td>
                <td>
                  <%= f.text_field :first_name_kana, class:"col-xs-7" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :"メールアドレス" %>
                </td>
                <td colspan="2">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-xs-6" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :"郵便番号" %>
                </td>
                <td colspan="2">
                  <%= f.text_field :postcode, class:"col-xs-6" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :"住所" %>
                </td>
                <td colspan="2">
                  <%= f.text_field :city, class:"col-xs-10" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.label :"電話番号(ハイフンなし)" %>
                </td>
                <td colspan="2">
                  <%= f.text_field :phone_number, class:"col-xs-6" %>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-center">
            <%= f.submit "編集内容を保存する", class: "btn btn-success"%>
            <%= link_to '退会する', quit_customer_path, class: "glyphicon glyphicon-tint btn btn-danger"%>
          </div>
        <% end %>
        <%= link_to "戻る", customer_path(@customer.id), class: "btn btn-primary pull-right" %>
      </div>
    <div class="col-xs-1"></div>
  </div>
</div>