
<div class="container">
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h1 class="head-line title_h2 text-center">会員詳細マイページ</h1>
    <td><%= link_to "編集する", edit_customer_path(@customer.id), class: "btn btn-primary" %></td>
    <td><%= link_to "パスワードの変更", edit_customer_registration_path(@customer.id), class: "btn btn-primary" %></td>

    <table class="table table-bordered">
      <tbody>
        <tr>
            <td>氏名</td>
            <td><%= (@customer.last_name + @customer.first_name) %></td>
        </tr>
        <tr>
            <td>カナ</td>
            <td><%= (@customer.last_name_kana + @customer.first_name_kana) %></td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td><%= @customer.postcode %></td>
        </tr>
        <tr>
            <td>住所</td>
            <td><%= @customer.city %></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %> </td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <P><strong class="shipping-link">配送先</strong>
	</p> <%= link_to "一覧を見る", ship_cities_path, class: "btn btn-primary" %>
	<p><strong class=order-link"">注文履歴</strong>
	</p>
	</div>
  </div>
</div>