<div class="row">
  <div class="col-xs-10">
    <h4 class="head-line text-center"></h4>
     <table class="table table-hover table-bordered">
       <thead>
         <tr>
           <th>商品名</th>
           <th>単価（税込）</th>
           <th>数量</th>
           <th>小計</th>
         </tr>
       </thead>
       <tbody>
         <% @cart_products.each do |cart| %>
         <tr>
           <td class="text-left">
             <%= attachment_image_tag(cart.product, :image, :fill, 50, 50, format:'jpeg', fallback:"no_image.jpg", size:"50x50") %>
             <%= cart.product.name %>
           </td>

           <td class="text-right">
             ¥<%= cart.product.price %>
           </td>

           <td class="text-right">
             <%= cart.amount %>
           </td>

           <td class="text-right">
             <%= (cart.product.price * 1.1 * cart.amount).floor %>
           </td>
         </tr>
        <% end %>
       </tbody>
     </table>
  </div>

  <div class="col-xs-3">
    <table class="table table-hover table-bordered">
      <tr>
        <th>送料</th>
        <td class="text-right col-xs-5"><%= "#{800}" %></th>
      </tr>

      <tr>
        <th>商品合計</th>
        <td class="text-right">¥<%= @total_fee %></td>
      </tr>

      <tr>
        <th>請求金額</th>
        <td class="text-right">¥<%= @total_fee + 800 %></td>
      </tr>
    </table>
  </div>

  <div class="col-xs-9">
    <h4>支払い方法</h4>
    <%= @order.payment %>

    <h4>お届け先</h4>
    <%= "#{@order.postcode}#{@order.city}#{@order.name}" %>
  </div>

  <%= form_with model: @order,url:orders_path, method: :post, local:true do |f| %>
  <%= f.hidden_field :postcode %>
  <%= f.hidden_field :city %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :payment %>
  <%= f.hidden_field :total_fee %>
  <%= f.hidden_field :city, value:@ship %>
  <%= f.submit "購入を確定する", class: "btn btn-success" %>
  <% end %>
</div>