<h1>注文情報確認</h1>
<table>
    <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @cart_products.each do |cart_product| %>
            <tr>
                <td>
                    <%= attachment_image_tag cart_product.product, :image, :fill, 80, 50, fallback: "no_image.jpg", size:"80x50" %>
                    <%= cart_product.product.name %>
                </td>
                <td><%= (cart_product.product.price * 1.1).floor %></td>
                <td><%= cart_product.amount %></td>
                <td><%= (cart_product.product.price * cart_product.amount * 1.1).floor %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= form_with model: @order, url: orders_path, local: true do |f| %>
    <table>
        <tbody>
            <tr>
                <td>送料</td>
                <td>
                    <%= @order.shipping %>円
                    <%= f.hidden_field :shipping, :value => @order.shipping %>
                </td>
                <td>商品合計</td>
                <td><%= @total_price %>
                </td>
                <td>請求金額</td>
                <td><%= @total_price + 800 %>
                    <%= f.hidden_field :total_fee, :value => @order.total_fee %>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <b>支払方法</b>
        <%= @order.payment %>
        <%= f.hidden_field :payment, :value => @order.payment %>
        <b>お届け先</b>
        <%= @order.postcode %>
        <%= f.hidden_field :postcode, :value => @order.postcode %>
        <%= @order.city %>
        <%= f.hidden_field :city, :value => @order.city %>
        <%= @order.name %>
        <%= f.hidden_field :name, :value => @order.name %>
    </div>
    <%= f.submit "購入を確定する" %>
<% end %>
