<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line text-center">注文履歴一覧</h2>
     <table class="table table-hover table-bordered">
       <thead>
         <tr>
           <th　class="fas fa-calendar-day">注文日</th>
           <th>配送先</th>
           <th>注文商品</th>
           <th>支払い金額</th>
           <th>ステータス</th>
           <th>注文詳細</th>
         </tr>
       </thead>

       <tbody>
         <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at %></td>
            <td class="text-left">
              <%= oreder.postcode %><br >
              <%= order.address %><br >
              <%= order.name %>
            </td>
            <td>
              <% @order.order_details %>
            </td>
            <td class="text-right">
              <%= oreder.total_price.to_s(:delimited) %>円
            </td>
            <td>
              <%= oreder.order_status %>
            </td>
          </tr>
       </tbody>
     </table>
  </div>
</div>