<div class="container">
  <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
    <div>
      <h3><%= f.label :payment, "支払方法" %></h3>
      <%= f.radio_button :payment, "クレジットカード", checked: "checked" %>
      <%= f.label :payment, "クレジットカード" %>
      <br>
      <%= f.radio_button :payment, "銀行振込" %>
      <%= f.label :payment, "銀行振込" %>
    </div>
    <div class="delivery-address-select">
      <h3><%= f.label :city, "お届け先" %></h3>
      <%= f.radio_button :city_option, 0, checked: "checked" %>
      <%= f.label :city, "ご自身の住所" %>
      <br>
      <%= @customer.postcode.to_s.insert(3, "-") %><br/>
      <%= @customer.city %><br/>
      <%= @customer.last_name %><%= @customer.first_name %>
      <br>
      <%= f.radio_button :city_option, 1 %>
      <%= f.label :city, "登録済住所から選択" %>
      <br>
      <%= f.collection_select :id, @ship_cities, :id, :order_ship,{prompt: "選択してください"},class: "form-control" %>
      <br>
      <%= f.radio_button :city_option, 2 %>
      <%= f.label :city, "新しいお届け先" %>
      <br>
      <table class="table">
        <tr>
          <th class="col-xs-2"><%= f.label :shipping, "郵便番号" %></th>
          <td><%= f.text_field :postcode, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :shipping, "住所" %></th>
          <td><%= f.text_field :city, class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :shipping, "宛名" %></th>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
      </table>
      <br>
      <div class="text-center">
      <%= f.submit "確認画面へ進む", class:"btn btn-lg btn-primary" %>
      </div>
    </div>
  <% end %>
</div>