<div class="container">
  <h1>注文履歴詳細</h1>
  <b>注文情報</b>
  <table class="table table-bordered">
    <tbody>
      <tr>
          <td>注文日</td>
          <td><%= @order.created_at.to_s(:datetime_jp) %></td>
      </tr>
      <tr>
          <td>配送先</td>
          <td>
              <%= @order.postcode %>
              <%= @order.city %>
              <%= @order.name %>
          </td>
      </tr>
      <tr>
          <td>支払方法</td>
          <td><%= @order.payment %></td>
      </tr>
      <tr>
          <td>注文ステータス</td>
          <td><%= @order.status %></td>
      </tr>
    </tbody>
  </table>
  <b>請求情報</b>
  <table class="table table-bordered">
    <tbody>
      <tr>
          <td>商品合計</td>
          <td>¥<%= (@order.total_fee - @order.shipping).to_s(:delimited) %></td>
          <td>配送料</td>
          <td>¥<%= @order.shipping %></td>
          <td><b>ご請求額</b></td>
          <td>¥<%= "#{@order.total_fee.to_s(:delimited)}"%></td>
      </tr>
    </tbody>
  </table>
  <b>注文内容</b>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td>¥<%= (order_detail.price * 1.1).floor.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td>¥<%= (order_detail.price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>