
<h1><%= (@customer.last_name + @customer.first_name) %>さんの会員詳細</h1>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-bordered">
      <tbody>
        <tr>
            <td>顧客ID</td>
            <td><%= @customer.id %></td>
            <td>状態</td>
                <% if @customer.is_deleted %>
            <td>退会済</td>
                <% else %>
            <td>有効会員</td>
                <% end %>
        </tr>
        <tr>
        <tr>
            <td>氏名</td>
            <td><%= (@customer.last_name + @customer.first_name) %></td>
        </tr>
        <tr>
            <td>カナ</td>
            <td><%= (@customer.last_name_kana + @customer.first_name_kana) %></td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td><%= @customer.postcode.to_s.insert(3, "-") %></td>
        </tr>
        <tr>
            <td>住所</td>
            <td><%= @customer.city %></td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %> </td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <P><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-primary" %>
    <P><%= link_to "adminの客一覧indextest用", admin_customers_path, class: "btn btn-primary" %>
	</p>
	<p><strong class="order-link">注文履歴</strong>
	</p>
	</div>
  </div>
</div>