<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/genres/genre_sidebar', genres: @genres  %>
    </div>


    <div class="col-md-9">
      <div class="top_box">
        <p class="top_txt">
          ようこそ、NaganoCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。<br>
        </p>
      </div>


      <h3>おすすめ商品</h3>
      <div class="row">
        <% @products.each do |product| %>
          <ul class="recommend_list">
            <li>
              <%= link_to product_path(product) do %>
                <%= attachment_image_tag product, :image, size:'200x150', fallback: 'no_image.jpg', size:'250x250' %><br>
              <% end %>
              <p><%= product.name %></p>
            </li>
          </ul>
          <p>¥<%= product.price %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>