      <%= form_with model: genre, url: admin_genres_path, local:true do |f| %>
      <table class="table genre-form">
        <tr>
          <th class="genre-name">ジャンル</th>
          <th><%= f.text_field :name %></th>
          <th class="genre-radio">
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "有効"%>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "無効"%>
          </th>
          <th>
            <%= f.submit "追加", class: "btn btn-primary genre_btn" %>
          </th>
        </tr>
      </table>
      <% end %>