
<div class="container">
  <div class="row"> 
      <h3>商品一覧</h3>
      <p id = "notice">
       <%= notice %>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>商品ID<th>
            <th>商品名<th>
            <th>税抜価格<th>
            <th>ジャンル<th>
            <th>ステータス<th>
          </tr>
        <thead>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name,admin_product_path(product) %></td>
            <td><%= product.price %></td>
            <td>
              <% if product.genre_id == 1 %> 
                <%= "ケーキ" %>
                <% elsif product.genre_id == 2 %>
                <%= "プリン" %>
                <% elsif product.genre_id == 3 %>
                <%= "焼き菓子" %>
                <% elsif product.genre_id == 4 %>
                <%= "キャンディ" %>
              <% end %>
            </td>
            <td>
              <% if product.is_active == true %>
                <%= "販売中" %>
                <% else %>
                <%=  "売り切れ" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <tr><td><%= paginate @products %></td></tr>
      </table>
  </div>
</div>  