<h1>商品新規登録</h1>
<%= form_with model:@product,url:admin_products_path,local:true do |f| %>
  <%= f.attachment_field :image %>
  <%= f.label :商品名%>
  <%= f.text_field :name %>
  <%= f.label :商品説明 %>
  <%= f.text_area :introduction %>
  <%= f.label :ジャンル %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name,include_blank: "--選択してください--" %>
  <%= f.label :税抜価格 %>
  <%= f.text_field :price %>円
  <%= f.label :販売ステータス %>
  <%= f.select :is_active,[["販売中",true],["売り切れ",false]],include_blank: "選択して下さい" %>
  <%= f.submit "新規登録"%>
<% end %>